.welcome-container {
    height: 100vh;
    background-color: #121212; /* Blackish background */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .welcome-title {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(0, 188, 212); 
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
  }
  
  .welcome-subtitle {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
  }
  
  button {
    font-size: 1.2rem;
    padding: 12px 30px;
    border-radius: 8px;
  }
  